.photo-render {
  position: "relative";
  display: flex;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cameraAndBtns {
  margin: auto;
  text-align: center;
}
#startbutton {
  display: block;
  margin: auto;
  width: 30%;
  font-size: 16px;
  line-height: 24px;
}
#video {
  display: block;
  margin: auto;
}
